/// Slide element down
///
/// @group animation
/// @name slide-in-down
///
/// @param {map} $settings [(animation-duration: .5, has-fade-effect: false, additional-transition-values: '')] - mixin settings
/// @param {number}  $settings.animation-duration [.5] - slide-in and fade-in duration
/// @param {boolean} $settings.has-fade-effect [false] - should add fade effect
/// @param {string}  $settings.additional-transform-values [''] - additional transition values
///
/// @example
/// .dd {
///   margin: 40px auto;
///   width: 300px;
///   height: 40px * 3;
///   overflow: hidden;
///
///   &__wrapper {
///     position: relative;
///   }
///
///   &__active-item-wrapper {
///     position: relative;
///   }
///
///   &_open-down &__list {
///     @include slide-in-down()
///   }
///
///   &__list-item {
///     height: 40px;
///     background-color: silver;
///     outline: 1px solid beige;
///   }
///
///   &__list {
///     @include slide-out-y() {
///       bottom: 0;
///     }
///   }
///
///   &_with-fade & {
///
///     &__list {
///       @include slide-out-y((has-fade-effect: true)) {
///         bottom: 0;
///       }
///     }
///
///   }
///
///   &_with-fade-out-delay & {
///
///     &__list {
///       @include slide-out-y((has-fade-effect: true, has-fade-out-delay: true)) {
///         bottom: 0;
///       }
///     }
///
///   }
///
///   &_with-fade#{&}_open-down &, &_with-fade-out-delay#{&}_open-down & {
///
///     &__list {
///       @include slide-in-down((has-fade-effect: true));
///     }
///
///   }
///
/// }
///
/// //class with mod
/// <!--dd_with-fade-out-delay-->
/// <!--dd_with-fade-->
///
/// <div class="dd dd_with-fade-out-delay" onclick="document.querySelector('.dd').classList.toggle('dd_open-down')">
///
///   <div class="dd__wrapper">
///
///     <div class="dd__list">
///       <div class="dd__list-item">2</div>
///       <div class="dd__list-item">3</div>
///     </div>
///
///     <div class="dd__active-item-wrapper">
///       <div class="dd__list-item">1</div>
///     </div>
///
///   </div>
///
/// </div>
@mixin slide-in-down($settings: (animation-duration: .5, has-fade-effect: false, additional-transform-values: '')) {
  $slide-down-duration: get-map-prop-or-default($settings, animation-duration, .5);
  $fade-in-duration: get-map-prop-or-default($settings, animation-duration, .5);
  $additional-transform-values: get-map-prop-or-default($settings, additional-transform-values);
  $has-fade-effect: get-map-prop-or-default($settings, has-fade-effect, false);

  transform: translateY(100%) #{$additional-transform-values};

  @if($has-fade-effect == true) {
    opacity: 1;
    transition: transform #{$slide-down-duration}s ease, opacity #{$fade-in-duration}s ease;
  }

  @else {
    transition: transform #{$slide-down-duration}s ease;
  }

}

/// Slide element up
///
/// @group animation
/// @name slide-in-up
///
/// @param {map} $settings [(animation-duration: .5, has-fade-effect: false, additional-transition-values: '')] - mixin settings
/// @param {number}  $settings.animation-duration [.5] - slide-in and fade-in duration
/// @param {boolean} $settings.has-fade-effect [false] - should add fade effect
/// @param {string}  $settings.additional-transform-values [''] - additional transition values
///
/// @example
/// .dd {
///   margin: 40px auto;
///   width: 300px;
///   height: 40px * 3;
///   overflow: hidden;
///
///   &__wrapper {
///     position: relative;
///   }
///
///   &__active-item-wrapper {
///     position: relative;
///   }
///
///   &_open-up &__list {
///     @include slide-in-down()
///   }
///
///   &__list-item {
///     height: 40px;
///     background-color: silver;
///     outline: 1px solid beige;
///   }
///
///   &__list {
///     @include slide-out-y() {
///       bottom: 0;
///     }
///   }
///
///   &_with-fade & {
///
///     &__list {
///       @include slide-out-y((has-fade-effect: true)) {
///         bottom: 0;
///       }
///     }
///
///   }
///
///   &_with-fade-out-delay & {
///
///     &__list {
///       @include slide-out-y((has-fade-effect: true, has-fade-out-delay: true)) {
///         bottom: 0;
///       }
///     }
///
///   }
///
///   &_with-fade#{&}_open-up &, &_with-fade-out-delay#{&}_open-up & {
///
///     &__list {
///       @include slide-in-down((has-fade-effect: true));
///     }
///
///   }
///
/// }
///
/// //class with mod
/// <!--dd_with-fade-out-delay-->
/// <!--dd_with-fade-->
///
/// <div class="dd dd_with-fade-out-delay" onclick="document.querySelector('.dd').classList.toggle('dd_open-up')">
///
///   <div class="dd__wrapper">
///
///     <div class="dd__list">
///       <div class="dd__list-item">2</div>
///       <div class="dd__list-item">3</div>
///     </div>
///
///     <div class="dd__active-item-wrapper">
///       <div class="dd__list-item">1</div>
///     </div>
///
///   </div>
///
/// </div>
@mixin slide-in-up($settings: (animation-duration: .5, has-fade-effect: false, additional-transform-values: '')) {
  $slide-up-duration: get-map-prop-or-default($settings, animation-duration, .5);
  $fade-in-duration: get-map-prop-or-default($settings, animation-duration, .5);
  $additional-transform-values: get-map-prop-or-default($settings, additional-transform-values);
  $has-fade-effect: get-map-prop-or-default($settings, has-fade-effect, false);

  transform: translateY(-100%) #{$additional-transform-values};

  @if($has-fade-effect == true) {
    opacity: 1;
    transition: transform #{$slide-up-duration}s ease, opacity #{$fade-in-duration}s ease;
  }

  @else {
    transition: transform #{$slide-up-duration}s ease;
  }

}

/// Hide element, before slide-in-up or slide-in-down
///
/// @group animation
/// @name slide-out-y
///
/// @param {map} $settings [(animation-duration: .5, has-fade-effect: false, has-fade-out-delay: false, fade-out-delay: $settings.animation-duration, additional-transition-values: '')] - mixin settings
/// @param {number}  $animation-duration [.5] - slide-in and fade-in duration
/// @param {boolean} $has-fade-effect [false] - should add fade effect
/// @param {boolean} $has-fade-out-delay [false] - if true, element will hide, only after slide-down-out
/// @param {number}  $fade-out-delay [$settings.animation-duration] - props for update fade-out delay after slide-down-out
/// @param {string}  $additional-transform-values [''] - additional transition values
///
/// @example
/// .dd {
///   margin: 40px auto;
///   width: 300px;
///   height: 40px * 3;
///   overflow: hidden;
///
///   &__wrapper {
///     position: relative;
///   }
///
///   &__active-item-wrapper {
///     position: relative;
///   }
///
///   &_open-down &__list {
///     @include slide-in-down()
///   }
///
///   &__list-item {
///     height: 40px;
///     background-color: silver;
///     outline: 1px solid beige;
///   }
///
///   &__list {
///     @include slide-out-y() {
///       bottom: 0;
///     }
///   }
///
///   &_with-fade & {
///
///     &__list {
///       @include slide-out-y((has-fade-effect: true)) {
///         bottom: 0;
///       }
///     }
///
///   }
///
///   &_with-fade-out-delay & {
///
///     &__list {
///       @include slide-out-y((has-fade-effect: true, has-fade-out-delay: true)) {
///         bottom: 0;
///       }
///     }
///
///   }
///
///   &_with-fade#{&}_open-down &, &_with-fade-out-delay#{&}_open-down & {
///
///     &__list {
///       @include slide-in-down((has-fade-effect: true));
///     }
///
///   }
///
/// }
///
/// //class with mod
/// <!--dd_with-fade-out-delay-->
/// <!--dd_with-fade-->
///
/// <div class="dd dd_with-fade-out-delay" onclick="document.querySelector('.dd').classList.toggle('dd_open-down')">
///
///   <div class="dd__wrapper">
///
///     <div class="dd__list">
///       <div class="dd__list-item">2</div>
///       <div class="dd__list-item">3</div>
///     </div>
///
///     <div class="dd__active-item-wrapper">
///       <div class="dd__list-item">1</div>
///     </div>
///
///   </div>
///
/// </div>
@mixin slide-out-y($settings: (animation-duration: .5, has-fade-effect: false, has-fade-out-delay: false, fade-out-delay: .5, additional-transform-values: '')) {
  $slide-out-duration: get-map-prop-or-default($settings, animation-duration, .5);
  $fade-in-duration: get-map-prop-or-default($settings, animation-duration, .5);
  $additional-transform-values: get-map-prop-or-default($settings, additional-transform-values);
  $has-fade-effect: get-map-prop-or-default($settings, has-fade-effect, false);
  $has-fade-out-delay: get-map-prop-or-default($settings, has-fade-out-delay, false);
  $fade-out-delay: get-map-prop-or-default($settings, fade-out-delay, $slide-out-duration);
  $fade-out-duration: $slide-out-duration;

  position: absolute;
  left: 0;
  right: 0;

  transform: translateY(0) #{$additional-transform-values};


  @if($has-fade-effect == true) {
    opacity: 0;

    @if($has-fade-out-delay == true) {
      transition: transform #{$slide-out-duration}s ease, opacity #{$fade-out-delay}s #{$fade-out-duration}s ease;
    }

    @else {
      transition: transform #{$slide-out-duration}s ease, opacity #{$fade-out-duration}s ease;
    }

  }

  @else {
    transition: transform #{$slide-out-duration}s ease;
  }

  @content;
}


/// Slide element to right, from slide-out-x
///
/// @group animation
/// @name slide-in-right
///
/// @param {map} $settings [(animation-duration: .5, has-fade-effect: false, additional-transition-values: '')] - mixin settings
/// @param {number}  $settings.animation-duration [.5] - slide-in and fade-in duration
/// @param {boolean} $settings.has-fade-effect [false] - should add fade effect
/// @param {string}  $settings.additional-transform-values [''] - additional transition values
///
/// @example
/// .open-trigger {
///   margin: auto;
///
///   width: 100px;
///   height: 20px;
///
///   color: white;
///   text-align: center;
///
///   background-color: black;
/// }
///
/// .side-bar {
///   position: fixed;
///   top: 0;
///   bottom: 0;
///
///   width: 300px;
///   background-color: black;
///
///   //side-bar is hidden on start
///   @include slide-out-x() {
///     right: 100%;
///   }
///
///   &_open-right {
///     @include slide-in-right();
///   }
///
///   &_with-fade {
///     @include slide-out-x((has-fade-effect: true)) {
///       right: 100%;
///     }
///   }
///
///   &_with-fade-out-delay {
///     @include slide-out-x((has-fade-effect: true, has-fade-out-delay: true)) {
///       right: 100%;
///     }
///   }
///
///   &_with-fade#{&}_open-right, &_with-fade-out-delay#{&}_open-right {
///     @include slide-in-right((has-fade-effect: true));
///   }
///
/// }
///
/// //class with mod
/// <!--side-bar_with-fade-->
/// <!--side-bar_with-fade-out-delay-->
///
/// <div class="side-bar"></div>
/// <div class="open-trigger" onclick="document.querySelector('.side-bar').classList.toggle('side-bar_open-right')">Close/Open</div>
@mixin slide-in-right($settings: (animation-duration: .5, has-fade-effect: false, additional-transform-values: '')) {
  $slide-right-duration: get-map-prop-or-default($settings, animation-duration, .5);
  $fade-in-duration: get-map-prop-or-default($settings, animation-duration, .5);
  $additional-transform-values: get-map-prop-or-default($settings, additional-transform-values);
  $has-fade-effect: get-map-prop-or-default($settings, has-fade-effect, false);

  transform: translateX(100%) #{$additional-transform-values};

  @if($has-fade-effect == true) {
    opacity: 1;
    transition: transform #{$slide-right-duration}s ease, opacity #{$fade-in-duration}s ease;
  }

  @else {
    transition: transform #{$slide-right-duration}s ease;
  }

}

/// Slide element to right, from slide-out-x
///
/// @group animation
/// @name slide-in-left
///
/// @param {map} $settings [(animation-duration: .5, has-fade-effect: false, additional-transition-values: '')] - mixin settings
/// @param {number}  $settings.animation-duration [.5] - slide-in and fade-in duration
/// @param {boolean} $settings.has-fade-effect [false] - should add fade effect
/// @param {string}  $settings.additional-transform-values [''] - additional transition values
///
/// @example
/// .open-trigger {
///   margin: auto;
///
///   width: 100px;
///   height: 20px;
///
///   color: white;
///   text-align: center;
///
///   background-color: black;
/// }
///
/// .side-bar {
///   position: fixed;
///   top: 0;
///   bottom: 0;
///
///   width: 300px;
///   background-color: black;
///
///   //side-bar is hidden on start
///   @include slide-out-x() {
///     left: 100%;
///   }
///
///   &_open-left {
///     @include slide-in-left();
///   }
///
///   &_with-fade {
///     @include slide-out-x((has-fade-effect: true)) {
///       left: 100%;
///     }
///   }
///
///   &_with-fade-out-delay {
///     @include slide-out-x((has-fade-effect: true, has-fade-out-delay: true)) {
///       left: 100%;
///     }
///   }
///
///   &_with-fade#{&}_open-left, &_with-fade-out-delay#{&}_open-left {
///     @include slide-in-left((has-fade-effect: true));
///   }
///
/// }
///
/// //class with mod
/// <!--side-bar_with-fade-->
/// <!--side-bar_with-fade-out-delay-->
///
/// <div class="side-bar"></div>
/// <div class="open-trigger" onclick="document.querySelector('.side-bar').classList.toggle('side-bar_open-left')">Close/Open</div>
@mixin slide-in-left($settings: (animation-duration: .5, has-fade-effect: false, additional-transform-values: '')) {
  $slide-left-duration: get-map-prop-or-default($settings, animation-duration, .5);
  $fade-in-duration: get-map-prop-or-default($settings, animation-duration, .5);
  $additional-transform-values: get-map-prop-or-default($settings, additional-transform-values);
  $has-fade-effect: get-map-prop-or-default($settings, has-fade-effect, false);

  transform: translateX(-100%) #{$additional-transform-values};

  @if($has-fade-effect == true) {
    opacity: 1;
    transition: transform #{$slide-left-duration}s ease, opacity #{$fade-in-duration}s ease;
  }

  @else {
    transition: transform #{$slide-left-duration}s ease;
  }

}

/// Hide element, before slide-in-right or slide-in-left
///
/// @group animation
/// @name slide-out-x
///
/// @param {number}  $animation-duration [.5] - slide-in and fade-in duration
/// @param {boolean} $has-fade-effect [false] - should add fade effect
/// @param {boolean} $has-fade-out-delay [false] - if true, element will hide, only after slide-down-out
/// @param {number}  $fade-out-delay [$animation-duration] - props for update fade-out delay after slide-down-out
/// @param {string}  $additional-transform-values [''] - additional transition values
///
/// @example
/// .open-trigger {
///   margin: auto;
///
///   width: 100px;
///   height: 20px;
///
///   color: white;
///   text-align: center;
///
///   background-color: black;
/// }
///
/// .side-bar {
///
///   $animation-in-duration: 1;
///   $animation-out-duration: 1;
///   $additional-transform-values: '';
///   $has-fade-effect: true;
///   $has-fade-out-delay: true;
///
///   position: fixed;
///   top: 0;
///   bottom: 0;
///
///   width: 300px;
///   background-color: black;
///
///   //side-bar is hidden on start
///   @include slide-out-x() {
///     right: 100%;
///   }
///
///   &_open {
///     @include slide-in-right();
///   }
///
///   &_with-fade {
///     @include slide-out-x($animation-out-duration, $has-fade-effect) {
///       right: 100%;
///     }
///   }
///
///   &_with-fade-out-delay {
///     @include slide-out-x($animation-out-duration, $has-fade-effect, $has-fade-out-delay) {
///       right: 100%;
///     }
///   }
///
///   &_with-fade#{&}_open, &_with-fade-out-delay#{&}_open {
///     @include slide-in-right($animation-in-duration, $has-fade-effect);
///   }
///
/// }
/// //side-bar_with-fade
/// //side-bar_with-fade-out-delay
/// <div class="side-bar side-bar_with-fade-out-delay"></div>
/// <div class="open-trigger" onclick="document.querySelector('.side-bar').classList.toggle('side-bar_open')">Close/Open</div>
@mixin slide-out-x($settings: (animation-duration: .5, has-fade-effect: false, has-fade-out-delay: false, fade-out-delay: .5, additional-transition-values: '')) {
  $slide-out-duration: get-map-prop-or-default($settings, animation-duration, .5);
  $fade-in-duration: get-map-prop-or-default($settings, animation-duration, .5);
  $additional-transform-values: get-map-prop-or-default($settings, additional-transform-values);
  $has-fade-effect: get-map-prop-or-default($settings, has-fade-effect, false);
  $has-fade-out-delay: get-map-prop-or-default($settings, has-fade-out-delay, false);
  $fade-out-delay: get-map-prop-or-default($settings, fade-out-delay, $slide-out-duration);
  $fade-out-duration: $slide-out-duration;

  position: absolute;

  transform: translateX(0) #{$additional-transform-values};


  @if($has-fade-effect == true) {
    opacity: 0;

    @if($has-fade-out-delay == true) {
      transition: transform #{$slide-out-duration}s ease, opacity #{$fade-out-delay}s #{$fade-out-duration}s ease;
    }

    @else {
      transition: transform #{$slide-out-duration}s ease, opacity #{$fade-out-duration}s ease;
    }

  }

  @else {
    transition: transform #{$slide-out-duration}s ease;
  }

  @content;
}