@use "sass:map";

@function get-map-prop-or-default($map, $search-key, $default-value: '') {
  $result: null;

  @if (map.has-key($map, $search-key)) {
    $result: map.get($map, $search-key);
  } @else {
    $result: $default-value;
  }

  @return $result
}