@import "mixin-wrapper";

.relative-wrapper {
  position: relative;
  height: 500px;
  background-color: silver;
}

.transform {
  background-color: blue;
  width: 100px;
  height: 100px;

  @include transform-center(y);
  @include fadeIn(.5);
  
  &:hover {
      @include fadeOut(.5,transform 0.5s 0s ease);
      @include transform-center(y, rotate(45deg));
  }
  
}


.dd {
  margin: 40px auto;
  width: 300px;
  height: 40px * 3;
  overflow: hidden;

  $animation-in-duration: .5;
  $animation-out-duration: .5;
  $additional-transform-values: '';
  $has-fade-effect: true;
  $has-fade-out-delay: true;

  &__wrapper {
    position: relative;
  }

  &__active-item-wrapper {
    position: relative;
  }
  
  &_open &__list {
    @include slide-in-down()
  }

  &__list-item {
    height: 40px;
    background-color: silver;
    outline: 1px solid beige;
  }

  &__list {
    @include slide-out-down() {
      bottom: 0;
    }
  }

  &_with-fade & {

    &__list {
      @include slide-out-down($animation-out-duration, $has-fade-effect) {
        bottom: 0;
      }
    }
    
  }

  &_with-fade-out-delay & {

    &__list {
      @include slide-out-down($animation-out-duration, $has-fade-effect, $has-fade-out-delay) {
        bottom: 0;
      }
    }

  }

  &_with-fade#{&}_open &, &_with-fade-out-delay#{&}_open & {

    &__list {
      @include slide-in-down($animation-out-duration, $has-fade-effect)
    }

  }

}